:root {
  font-family: "Josefin Sans", sans-serif;
  line-height: normal;
  font-weight: 400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: #fff;
}

body {
  font-size: 1.2rem;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}
